<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aperotechnologies.aftrparties">


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.aperotechnologies.aftrparties.SplashActivity"
            android:screenOrientation="portrait">
            <!--android:clearTaskOnLaunch= "true"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider655826694556269"
            android:exported="true" />

        <activity
            android:name="com.aperotechnologies.aftrparties.Login.Welcome"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.aperotechnologies.aftrparties.Login.RegistrationActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.aperotechnologies.aftrparties.HomePage.HomePageActivity"
            android:screenOrientation="portrait"></activity>

        <!--<activity-->
            <!--android:name=".TransparentActivity" android:theme="@android:style/Theme.Translucent"-->
            <!--android:screenOrientation="portrait"></activity>-->

        <activity
            android:name=".TransparentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".TipsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Settings.SettingsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".History.HistoryActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".History.PartyDetails"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".History.HostProfileActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".History.RequestantActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".History.FBProfileWebView"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Host.HostActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".GateCrasher.GateCrasherSearchActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".GateCrasher.GateCrasherActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".GateCrasher.GCPartyDetails"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".Chats.DialogsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Chats.ChatActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".Login.OTPActivity"
            android:screenOrientation="portrait"></activity>

        <!--<activity android:name=".InAppPurchase.InAppBillingActivity"
            android:screenOrientation="portrait"></activity>-->

        <activity android:name=".GateCrasher.RatePartyActivity"
            android:screenOrientation="portrait"></activity>


        <!-- Local Notification receiver-->
        <receiver android:name=".LocalNotifications.RatingsAlarmReceiver">
        </receiver>


        <!-- GCM (Push Notifications) setup: http://developer.android.com/google/gcm/gs.html#android-app -->

        <!-- 1. Add the following broadcast receiver.
        Notice that android:name in the category tag must be replaced by your application's package name -->
        <receiver
            android:name=".PNotifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.aperotechnologies.aftrparties" />
            </intent-filter>
        </receiver>

        <!-- 2. Add the following intent service: -->
        <service android:name=".PNotifications.GCMIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ffdd609785d2fe5506254706299413b2c3ea9898" />
        <!--<meta-data android:name="CLOUDINARY_URL" android:value="cloudinary://585356451553425:ylB_rZgnwVT823PH3_HtZo79Sf4@dklb21dyh"/>-->

    </application>

    <permission
        android:name="com.aperotechnologies.aftrparties.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.aperotechnologies.aftrparties.permission.C2D_MESSAGE" />

    <!-- 5. Add the following permissions: -->
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Access to  device info-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <protected-broadcast android:name="android.location.BOOT_COMPLETED" />
    <protected-broadcast android:name="android.location.USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>